<div class="row">
	<div class="col-lg-12" id="notediv">
	<div ng-style="onpin">Other</div>
		<!------------------ DISPLAY CARDS ---------------->
		<div testpackery ng-repeat="x in allnotes | filter:searchnote"	style="margin-top: 20px;">
			<div ng-class="spacecol2"></div>
			<div ng-class="changeView" id="hoverthis">
			
				<div id="gridList" ng-style="{'background-color':x.color}" ng-if="x.archive==false && x.trash==false && x.pin==false">
				
					<div id="gridimage" ng-if="x.picture" style="margin-left: -15px;margin-top: -15px;">
						<img ng-src="{{x.picture}}" style="width: 100%;">
					</div>
					
					<div ng-click="updatePopUp(x)" style="min-height: 110px; word-break: break-word; padding-right: 10px;">
						<div id="pin-image" ng-click="setpin(x)"><img alt="pin" src="image/pin.svg" style="margin-right: 13px;" title="Pin" title-direction="bottom"></div>
						<div id="gridtitle" ng-bind-html="x.title"></div>
						<div id="griddescription" ng-bind-html="x.description" style="word-break: break-word; padding-right: 10px;"></div>
					</div>
					
					<div id="gridfooter">
						<span id="footerImages" class="dropdown btn-group"> 
						<img src=image/remind.svg alt="Reminder" data-toggle="dropdown"	title="Reminder" title-direction="bottom">
							<ul class="dropdown-menu" id="dropdown-menu">
								<li><span style="margin: 100px;">Reminder</span></li>
								<li><a style="margin-top: 10px;" ng-click="setreminder(x, 'today')">Later Today 
									<span style="float: right">8:00 PM</span></a></li>
								<li><a style="margin-top: 10px;" ng-click="setreminder(x, 'tomorrow')">Tomorrow 
									<span style="float: right">8:00 AM</span></a></li>
								<li><a style="margin-top: 10px;" ng-click="setreminder(x, 'nextweek')">NextWeek 
									<span style="float: right">Mon,8:00 AM</span></a></li>
							</ul>
						</span> 
						<span id="footerImages" ng-click="collaboratePopUp(x)">
							<img src="image/collabrate.svg"	alt="Collabrate" title="Collaborator" title-direction="bottom">
						</span>

						<span id="footerImages" class="color">
							<div class="colordiv">
								<img ng-click="notecolor(x,'rgb(250, 250, 250)')"
									src="image/white.png" alt="White"> <img
									ng-click="notecolor(x,'rgb(255, 135, 128)')"
									src="image/red.png" alt="Red"> <img
									ng-click="notecolor(x,'rgb(255, 209, 128)')"
									src="image/orange.png" alt="Orange"> <img
									ng-click="notecolor(x,'rgb(255, 255, 141)')"
									src="image/yellow.png" alt="Yellow"> <img
									ng-click="notecolor(x,'rgb(207, 216, 220)')"
									src="image/gray.png" alt="Gray"> <img
									ng-click="notecolor(x,'rgb(128, 216, 255)')"
									src="image/blue.png" alt="Blue"> <img
									ng-click="notecolor(x,'rgb(167, 255, 235)')"
									src="image/teal.png" alt="Teal"> <img
									ng-click="notecolor(x,'rgb(204, 255, 144)')"
									src="image/green.png" alt="Green">
							</div> 
							<img src="image/color.png" alt="Colors" title="Change color" title-direction="bottom">
						</span> 
						<span id="footerImages"> 
							<img src="image/archieve.png" alt="Archive" title="Archive" title-direction="bottom" ng-click="archive(x)">
						</span> 
						<span id="footerImages">
							<img src="image/icons8-Share-20 (1).png" alt="Facebook Share" title="Fb Share" title-direction="bottom" ng-click="facebookshare(x)"></span>

						<span id="footerImages" class="dropdown btn-group"> 
							<img src="image/list.png" alt="More" data-toggle="dropdown"	title="List view" title-direction="bottom" title="More"
							title-direction="bottom">
							<ul class="dropdown-menu" style="margin-top: 5px;">
								<li><a href="" ng-click="doTrash(x)" style="padding-left: 16px">Delete</a></li>
								<!-- <li><a href="" style="padding-left:16px" ng-click="addImage()">Add Image</a>
									<input type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrcInCard" 
										id="addImg" style="display:none">
								</li> -->
							</ul>
						</span>
					</div>
					
					<div id="reminderdiv" ng-if="x.reminddate!=undefined">
						<img alt="clock" src="image/clock.png" id="clockimg">
						{{x.reminddate | date:"MMM d,h:mm:ss a"}}
						<span id="close-reminder" ng-click="deleteReminder(x)">
							<a	href="" title="Delete reminder" title-direction="bottom">&#10062;</a>
						</span>
					</div>
					
					<div id="scraperdiv" ng-repeat="y in x.scrapers">
						<div style="float: left;width: 60px; margin-left: -2px;">
							<img ng-src="{{y.imageurl}}" height="56px" width="100%">
						</div>
						<a target="_blank" href="{{y.weburl}}">
							<div style="margin-top: 5px; margin-left: 60px;">
								<div id="scraperTitleDiv">{{y.scraptitle}}</div>
								<div class="scraperhostName">{{y.scraphost}}</div>
							</div>
						</a>
					</div>
					
				</div>
			</div>
		</div>
		<!--- DISPLAY GRID CARDS ENDS --->
	</div>
</div>