 <!---------------- TOP NAVIGATION BAR -------------->
 
<nav id="topnav" class="navbar navbar-inverse navbar-fixed-top"
	role="navigation">
	<div class="container-fluid" id="container-fluid">
		<div class="navbar-header" style="margin-left: 15">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#menu-toggle" id="menu-toggle">
			   <span aria-hidden="true"><img src="image/icons8-Menu_20.png" alt="Menu" style="margin-top: 4px"></span></a>
		</div>
		<div>
			<a class="navbar-brand" href="http://localhost:8011/ToDo/#!/notes"
				style="margin-left: 10px; margin-top: 4px;"><font size="5px"; color="black">Fundoo Notes</font></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://localhost:8011/ToDo/#!/notes"><img src="image/refresh.svg" alt="Refresh"></a></li>
				<li><a href="" ng-show="listbtn" ng-click="showinlist()"><img src="image/list.svg" alt="List"></a></li>
				<li><a href="" ng-show="gridbtn" ng-click="showingrid()"><img src="image/grid.svg" alt="Grid"></a></li>
				<li>
					<div class="dropdown btn-group">
						<img alt="Profile" src="image/usericon.png" id="navprofile" data-toggle="dropdown">
						<div class="dropdown-menu" id="profilpopup">
							<div>
								<img alt="list" src="image/usericon.png" id="profile-popup-image">
							</div>
							<div id="profile-popup-data">
								<h4><font color="black">{{name}}</font></h4>
								<h6>{{email}}</h6>
								<a href="">Google+ Profile–Privacy</a>
								<br>
								<a href="" ng-click="logout()"><img src="image/logout.png" alt="Logout"></a>
							</div>
						</div>
					</div>
			    </li>
				<!-- <li><a href="" ng-click="logout()"><img src="image/logout.png" alt="Logout"></a></li> -->
			</ul>
			<form class="navbar-form navbar-right" action="" method="GET">
				<div class="input-group">
					<!-- <div class="input-group-btn" id="submit">
						<button type="submit" class="btn btn-success">
							<img alt="search" src="image/searchicon.png">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</div> -->
					
					<input type="text" class="form-control" placeholder="Search..."	id="query" name="search" value="" ng-model="searchnote">
				</div>
			</form>
		</div>
	</div>
	<div class="container"></div>
</nav>
<div id="wrapper" class="toggled">
	<div class="container-fluid">
	
<!---------------- SIDEBAR -------------->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand"><br></li>
				<li class="divider"></li>
				<div id="sidebarcontent">
					<li>
					   <a href="http://localhost:8011/ToDo/#!/notes">
					      <span aria-hidden="true">
					           <img src="image/noteicon.png" alt="notes">
					      </span> Notes
					   </a>
					</li>
				</div>
				<div id="sidebarcontent">
				<li><a href=""><span aria-hidden="true"><img src="image/remindericon.svg" alt="notes"></span> Reminders</a></li>
				</div>
				<div id="sidebarcontent">
				<li class="divider"></li>
				</div>
				<div id="sidebarcontent">
				<li><a href=""><span aria-hidden="true"><img src="image/archive.svg" alt="notes"></span> Archive</a></li>
				</div>
				<div id="sidebarcontent">
				<li><a href=""><span aria-hidden="true"><img src="image/icons8-Trash Can-20.png" alt="notes"></span> Trash</a></li>
				</div>
			</ul>
		</div>
		
		
		<!------------------- /#sidebar-wrapper -------------->
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12" id="notediv" >

						<!------------------- Create Note Card----------------->
						 <div class="card" tabindex="0" ng-blur="hideNoteCreate()">
							<div id="title" divdata contenteditable="true" ng-model="title" placeholder="Title" ng-show="showfullbody"/>
							<div id="description" divdata contenteditable="true" ng-model="desc" placeholder="Take a note..." 
								 ng-click="hideAndshow()"/>
							<div ng-show="showfullbody">
								<div id="footer">
									<span id="create-footer-Images"><img src="image/remindericon.svg" alt="Reminder"></span>
									<span id="create-footer-Images"><img src="image/collabrate.svg" alt="Collabrate"></span>
									<span id="create-footer-Images" class="color">
										<div class="colordiv" float="right">
													<img ng-click="notecolor(x,'rgb(250, 250, 250)')" src="image/white.png" alt="White" >
													<img ng-click="notecolor(x,'rgb(255, 135, 128)')" src="image/red.png" alt="Red">
													<img ng-click="notecolor(x,'rgb(255, 209, 128)')" src="image/orange.png" alt="Orange">
													<img ng-click="notecolor(x,'rgb(255, 255, 141)')" src="image/yellow.png" alt="Yellow">
													<img ng-click="notecolor(x,'rgb(207, 216, 220)')" src="image/gray.png" alt="Gray">
													<img ng-click="notecolor(x,'rgb(128, 216, 255)')" src="image/blue.png" alt="Blue">
													<img ng-click="notecolor(x,'rgb(167, 255, 235)')" src="image/teal.png" alt="Teal">
													<img ng-click="notecolor(x,'rgb(204, 255, 144)')" src="image/green.png" alt="Green">
											</div>
									<img src="image/color.png" alt="Color">
									</span>
									<span id="create-footer-Images"><img src="image/archive.svg" alt="Archive"></span>
									<span id="create-footer-Images"><img src="image/image.svg" alt="Add Image"></span>
									<span id="create-footer-Images"><img src="image/list.png" alt="More"></span>
									<button id="donebotton" ng-click="savenote()">Done</button>
								</div>
							</div>
						 </div>
						<!------------------- /#Create Note Card ----------------->
						
						
                       <!-- - DISPLAY LIST CARDS - -->
                       
						<!--  <div ng-repeat="x in allnotes | filter:searchnote" style="margin-top: 20px;">
						 	<div  class="col-lg-12" id="hoverthis">
						 		<div id="viewList" ng-show="showlist">
							 		<div ng-click="openPopUp(x)">
										<div id="title" ng-bind-html="x.title"></div>
										<div id="description" ng-bind-html="x.description" style="word-break: break-word; padding-right:10px;"></div>
									</div>
									<div id="gridfooter">
								  		<span id="footerImages"><img src="image/remindericon.svg" alt="Reminder"></span>
										<span id="footerImages"><img src="image/collabrate.svg" alt="Collabrate"></span>
										<span id="footerImages"><img src="image/color.png" alt="Color"></span>
										<span id="footerImages"><img src="image/archive.svg" alt="Archive"></span>
										<span id="footerImages"><img src="image/image.svg" alt="Add Image"></span>
										<span id="footerImages" class="dropdown btn-group">
											<img src="image/list.png" alt="More" data-toggle="dropdown">
											<ul class="dropdown-menu">
												<li><a href="" ng-click="deleteNote(x.id)" style="padding-left: 16px">Delete</a></li>
												<li><a href="" style="padding-left: 16px">Add label</a></li>
												<li><a href="" style="padding-left: 16px">Make a copy</a></li>
											</ul>
									    </span>	
								  </div>
								</div>
							</div>
						 </div>	  -->
						 
						 
						 <!--- DISPLAY GRID CARDS --->
					 <div  ng-repeat="x in allnotes | filter:searchnote" style="margin-top: 20px;">
														<!-- <div  class="col-lg-1" ></div> -->
							<!-- <div  class="col-lg-4" id="hoverthis"> -->
							<div  ng-class="spacecol2"></div>
							<div  ng-class="changeView" id="hoverthis">
							
							  <div id="gridList" ng-style="{'background-color':x.color}">
							  	<div ng-click="openPopUp(x)" style="min-height: 110px;">
							      <div id="gridtitle" ng-bind-html="x.title"></div>
							      <div id="griddescription" ng-bind-html="x.description" style="word-break: break-word; padding-right:10px;"></div>
							    </div>
								  <div id="gridfooter">
								  		<span id="footerImages"><img src="image/remindericon.svg" alt="Reminder"></span>
										<span id="footerImages"><img src="image/collabrate.svg" alt="Collabrate"></span>
										<span id="footerImages" class="color">
											<div class="colordiv">
													<img ng-click="notecolor(x,'rgb(250, 250, 250)')" src="image/white.png" alt="White" >
													<img ng-click="notecolor(x,'rgb(255, 135, 128)')" src="image/red.png" alt="Red">
													<img ng-click="notecolor(x,'rgb(255, 209, 128)')" src="image/orange.png" alt="Orange">
													<img ng-click="notecolor(x,'rgb(255, 255, 141)')" src="image/yellow.png" alt="Yellow">
													<img ng-click="notecolor(x,'rgb(207, 216, 220)')" src="image/gray.png" alt="Gray">
													<img ng-click="notecolor(x,'rgb(128, 216, 255)')" src="image/blue.png" alt="Blue">
													<img ng-click="notecolor(x,'rgb(167, 255, 235)')" src="image/teal.png" alt="Teal">
													<img ng-click="notecolor(x,'rgb(204, 255, 144)')" src="image/green.png" alt="Green">
											</div>
										<img src="image/color.png" alt="Colors">
										</span>
										<span id="footerImages"><img src="image/archive.svg" alt="Archive"></span>
										<span id="footerImages"><img src="image/image.svg" alt="Add Image"></span>
										<span id="footerImages" class="dropdown btn-group">
											<img src="image/list.png" alt="More" data-toggle="dropdown">
											<ul class="dropdown-menu">
												<li><a href="" ng-click="deleteNote(x.id)" style="padding-left: 16px">Delete</a></li>
												<li><a href="" style="padding-left: 16px">Add label</a></li>
												<li><a href="" style="padding-left: 16px">Make a copy</a></li>
											</ul>
									    </span>	
								  </div>
							  </div>
							</div>
						   								<!-- <div  class="col-lg-1" ></div> -->
						 </div>   
						  <!--- DISPLAY GRID CARDS --->
					</div>
				</div>
			</div>
<!----------------------- /#page-content-wrapper -------------------->
		</div>
	</div>

	<script type="text/javascript">
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	</script>
	<!-- /#wrapper -->