 <!---------------- TOP NAVIGATION BAR -------------->
 
<nav id="topnav" class="navbar navbar-inverse navbar-fixed-top"
	role="navigation">
	<div class="container-fluid" id="container-fluid">
		<div class="navbar-header" style="margin-left: 15">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#menu-toggle" id="menu-toggle">
			   <span aria-hidden="true"><img src="image/icons8-Menu_20.png" alt="Menu" style="margin-top: 4px"></span></a>
			<a class="navbar-brand" href="http://localhost:8011/ToDo/#!/notes"
				style="margin-left: 10px; margin-top: 4px;"><font size="5px"; color="black">Fundoo Notes</font></a>
		</div>
		
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="" ng-click="refresh()"><img src="image/refresh.svg" alt="Refresh" title="Refresh" title-direction="bottom"></a></li>
				<li><a href="" ng-show="listbtn" ng-click="showinlist()"><img src="image/list.svg" alt="List" title="List view" title-direction="bottom"></a></li>
				<li><a href="" ng-show="gridbtn" ng-click="showingrid()"><img src="image/grid.svg" alt="Grid" title="Grid view" title-direction="bottom"></a></li>
				<li>
					<div class="dropdown btn-group">
						<img alt="Profile" src="image/usericon.png" id="navprofile" data-toggle="dropdown" title="Profile" title-direction="bottom">
						<div class="dropdown-menu" id="profilpopup">
							<div>
								<img alt="list" src="image/usericon.png" id="profile-popup-image">
							</div>
							<div id="profile-popup-data">
								<h4><font color="black">{{name}}</font></h4>
								<h6>{{email}}</h6>
								<a href="">Google+ Profile–Privacy</a>
								<br>
								<button ng-click="logout()">Logout</button>
						<!-- 		<a href="" ng-click="logout()"><img src="image/logout.png" alt="Logout"></a> -->
							</div>
						</div>
					</div>
			    </li>
				<!-- <li><a href="" ng-click="logout()"><img src="image/logout.png" alt="Logout"></a></li> -->
			</ul>
			<form class="navbar-form navbar-right" action="" method="GET">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search..."	id="query" name="search" value="" ng-model="searchnote">
				</div>
			</form>
		</div>
	</div>
	<div class="container"></div>
</nav>
<div id="wrapper" class="toggled">
	<div class="container-fluid">
	
<!---------------- SIDEBAR -------------->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand"><br></li>
				<li class="divider"></li>
				<div id="sidebarcontent">
					<li>
					   <a ui-sref="notes">
					      <span aria-hidden="true">
					           <img src="image/noteicon.png" alt="notes">
					      </span> Notes
					   </a>
					</li>
				</div>
				<div id="sidebarcontent">
					<li><a href=""><span aria-hidden="true"><img src="image/remindericon.svg" alt="notes"></span> Reminders</a></li>
				</div>
				<div id="sidebarcontent">
					<li class="divider"></li>
				</div>
				<div id="sidebarcontent">
					<li><a ui-sref="archive"><span aria-hidden="true" ng-click="changeTitle()"><img src="image/archive.svg" alt="notes"></span> Archive</a></li>
				</div>
				<div id="sidebarcontent">
					<li><a ui-sref="trash"><span aria-hidden="true"><img src="image/icons8-Trash Can-20.png" alt="notes"></span> Trash</a></li>
				</div>
			</ul>
		</div>
		
		
		<!------------------- /#sidebar-wrapper -------------->
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12" id="notediv" ng-show="createnote" >
						<!------------------- Create Note Card----------------->
						<!-- tabindex="0" ng-blur="hideNoteCreate()" -->
						 <div class="card" ng-model="colorOnCreate" ng-style="{'background-color':colorOnCreate}" > 
							<div id="title" divdata contenteditable="true" ng-model="title" placeholder="Title" ng-show="showfullbody"/>
							<div id="description" divdata contenteditable="true" ng-model="desc" placeholder="Take a note..." 
								 ng-click="hideAndshow()"/>
							<div ng-show="showfullbody">
								<div id="footer">
									<span id="create-footer-Images"><img src="image/remind.svg" alt="Reminder"></span>
									<span id="create-footer-Images"><img src="image/collabrate.svg" alt="Collabrate"></span>
									<span id="create-footer-Images" class="color">
										<div class="colordiv">
													<img ng-click="colorOnCreate='rgb(250, 250, 250)'" src="image/white.png" alt="White">
													<img ng-click="colorOnCreate='rgb(255, 135, 128)'" src="image/red.png" alt="Red">
													<img ng-click="colorOnCreate='rgb(255, 209, 128)'" src="image/orange.png" alt="Orange">
													<img ng-click="colorOnCreate='rgb(255, 255, 141)'" src="image/yellow.png" alt="Yellow">
													<img ng-click="colorOnCreate='rgb(207, 216, 220)'" src="image/gray.png" alt="Gray">
													<img ng-click="colorOnCreate='rgb(128, 216, 255)'" src="image/blue.png" alt="Blue">
													<img ng-click="colorOnCreate='rgb(167, 255, 235)'" src="image/teal.png" alt="Teal">
													<img ng-click="colorOnCreate='rgb(204, 255, 144)'" src="image/green.png" alt="Green">
											</div>
									<img src="image/color.png" alt="Color">
									</span>
									<span id="create-footer-Images"><img src="image/archieve.png" alt="Archive"></span>
									<span id="create-footer-Images"><img src="image/list.png" alt="More"></span>
									<button id="donebotton" ng-click="savenote()">Done</button>
								</div>
							</div>
						 </div>
						<!------------------- /#Create Note Card ----------------->
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12">
						<div ng-include="'template/home.html'" ng-show="homepage"></div>
						<div ng-include="'template/archive.html'" ng-show="archivepage"></div>
						<div ng-include="'template/trash.html'" ng-show="trashpage"> </div>
					</div>
			</div>
				
			</div>
<!----------------------- /#page-content-wrapper -------------------->
		</div>
	</div>

	<script type="text/javascript">
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	</script>
	<!-- /#wrapper -->